### Setup the client project

In [3]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /Users/suchadaboonyarungsrit/anaconda3/lib/python3.11/site-packages (9.0.0)

In [5]:
!pip install --upgrade pip

Requirement already satisfied: pip in /Users/suchadaboonyarungsrit/anaconda3/lib/python3.11/site-packages (24.2)

### Add query function
#### Task 1: import connector module and connect to LittleLemonDB

In [6]:
import mysql.connector as connector
from mysql.connector import errorcode

In [7]:
try:
    connection = connector.connect(user = "capstone1",\
                                   password ="Password1234%,",\
                                   database = "LittleLemonDB")
except connector.Error as err:
    if err.errno == errorcode.ER_ACCESS_DENINE_ERROR:
        print("connection user or password are incorrect.")
    elif err.errno == errorcode.ER_BAD_DB_ERROR: 
        print("database does not exist.")
    else: 
        print(err)

In [8]:
cursor = connection.cursor()

#### Task 2: query the database to show all tables within the database

In [9]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)

In [10]:
results = cursor.fetchall()
print(results)

[('Address',), ('Bookings',), ('Customers',), ('Employees',), ('MenuItems',), ('Menus',), ('OrderMenuItems',), ('Orders',), ('orderview',)]

#### Task 3: Query with table JOIN

In [11]:
query_stmt = """
SELECT CONCAT(Customers.FirstName, " ", Customers.LastName) AS "Full Namme", Customers.ContactNo AS "Contact Details"
FROM LittleLemonDB.Orders 
INNER JOIN LittleLemonDB.Customers ON Orders.CustomerID = Customers.CustomerID 
WHERE Orders.TotalCost >= 60; 
"""

In [12]:
cursor.execute(query_stmt)

In [13]:
results = cursor.fetchall()

In [14]:
print(results)

[('Tom Smith', 949333222), ('Rose Bloom', 696234122)]

In [15]:
cols = cursor.column_names

In [16]:
print(cols)
for customer in results: 
    print(customer)

('Full Namme', 'Contact Details')
('Tom Smith', 949333222)
('Rose Bloom', 696234122)

In [18]:
# Call proc GetMaxQuantity() --take no parameter
cursor.callproc('GetMaxQuantity')
results = cursor.stored_results()
for r in results:
    print(r.fetchall())

[(Decimal('3'),)]

In [19]:
# AddBooking(BookingId, CustomerID, TableNo, BookingDate)
args = (99,99,99,'2022-10-12')
cursor.callproc('AddBooking',args)


results = cursor.stored_results()
for r in results:
    print(r.fetchall())

[('New BookingId: 99 is added for CustomerId: 99',)]

In [21]:
# query Booking tb to check if booking is added.
cursor.execute('select * from Bookings where BookingId = 99')
results = cursor.fetchall()
for r in results: 
    print(r)

(99, 99, datetime.datetime(2022, 10, 12, 0, 0), 4, 99)

In [22]:
# UpdateBooking(BookingId, BookingDate)
args = (99, '2022-10-13')
cursor.callproc('UpdateBooking',args)

results = cursor.stored_results()
for r in results:
    print(r.fetchall())

[('Booking 99 updated',)]

In [23]:
# query Booking tb to check if booking is updated.
cursor.execute('select * from Bookings where BookingID = 99')
results = cursor.fetchall()
for r in results: 
    print(r)

(99, 99, datetime.datetime(2022, 10, 13, 0, 0), 4, 99)

In [24]:
# CancelBooking(BookingID)

args = (99, )
cursor.callproc('CancelBooking',args)

results = cursor.stored_results()
for r in results:
    print(r.fetchall())

[('Booking 99 is cancelled',)]

In [25]:
# query Booking tb to check if booking is cancelled.
cursor.execute('select * from Bookings where BookingID = 99')
results = cursor.fetchall()
for r in results: 
    print(r)

In [26]:
connection.close()